header {
  display: block;
  height: 110px;
  padding: 0 calc(50vw - 580px);
}
header > div {
  position: relative;
  height: 100%;
}
.header-icon {
  background: url(../img/jammy_logo_.svg) no-repeat;
  background-size: contain;
  width: 108px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.header-contents {
  position: absolute;
  left: 144px;
  top: 50%;
  transform: translateY(-50%);
}
.header-contents li {
  display: inline-block;
  margin-right: 24px;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}
.menu-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  right: 0px;
}
.ad-slider {
  height: 488px;
}
.ad-slider > div {
  margin: 0 calc(50vw - 580px);
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 1160px;
}
.ad-slider div ul {
  white-space: nowrap;
  font-size: 0;
  transition: transform 0.5s;
  width: 5800px;
}
.ad-slider div ul li {
  display: inline-block;
  width: 1160px;
}
.ad-slider > div button {
  width: 36px;
  height: 36px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.ad-slider > div > .prev {
  background: url(../img/icn_main_prev.png) no-repeat;
  left: 0px;
  background-size: contain;
}
.ad-slider > div > .next {
  background: url(../img/icn_main_next.png) no-repeat;
  right: 0px;
  background-size: contain;
}
.ad-slider ul li img {
  width: 100%;
}
.ad-slider ul li img:hover {
  transform: scale(1.05);
  transition: transform 0.35s;
}
.famous {
  margin-top: 3.73vw;
  position: relative;
}
.famous .people-list {
  overflow: unset;
  position: relative;
  max-width: 986px;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  font-size: 0;
}
.famous .people-list .people-slide {
  overflow: hidden;
}
.famous .people-list .imgandname {
  width: 10000px;
  transform: translate(-4270px);
  transition: transform 0.5s;
}
.famous .people-list .people {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-right: 36px;
  width: 110px;
  height: 145px;
  cursor: pointer;
}
.famous .people-list .people div {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
}
.famous .people-list .people:hover div {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}
.famous .people-list .people img:hover {
  transform: scale(1.05);
  transition: transform 0.35s;
}
.famous .people-list .people img {
  width: 110px;
  height: 110px;
  margin-bottom: 14px;
}
.famous .people-list .people span {
  font-size: 16px;
  font-weight: 400;
}
.famous button {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  top: 43px;
  z-index: 1;
}
.famous .prev2 {
  display: none;
  background: url(../img/icn_right_small.svg) no-repeat;
  transform: rotate(180deg);
  left: -61px;
  background-size: contain;
}
.famous .next2 {
  background: url(../img/icn_right_small.svg) no-repeat;
  right: -61px;
  background-size: contain;
}
.ad-contents {
  margin: 70px calc(50vw - 580px) 0;
  width: 1160px;
}
.ad-contents .top-contents .top-content {
  margin: 0 auto 24px;
}
.ad-contents .top-contents .top-content:nth-child(1) {
  background: url('../img/banner3_bg@2x.png');
  background-size: contain;
}
.ad-contents .top-contents .top-content:nth-child(2) {
  background: #5dad68;
}
.ad-contents .under-contents {
  font-size: 0;
}
.ad-contents .under-contents .under-content {
  background-color: #f7f7fa;
  width: calc(50% - 5px);
  display: inline-block;
}
.ad-contents .under-contents .under-content:first-child {
  margin-right: 10px;
}
.under-contents .under-content .underad-text {
  padding: 38px 50px;
}
.top-contents .top-content a {
  display: flex;
  align-items: center;
  height: 160px;
  max-width: 800px;
  margin: 0 auto;
  background-position: right center;
}
.top-contents .top-content:nth-child(1) a {
  background-image: url('../img/banner3_img@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.top-contents .top-content:nth-child(2) a {
  background-image: url('../img/img_main_banner.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.top-contents .top-content .ad-text {
  color: #fff;
  letter-spacing: -0.05em;
  line-height: 1;
}
.text-title {
  font-size: 28px;
  font-weight: 700;
}
.top-content .ad-text .text-content {
  padding-top: 18px;
  font-size: 16px;
}
.under-content .underad-text .text-content {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
.under-contents .under-content a {
  height: 160px;
  margin: 0 auto;
  background-position: right center;
  position: relative;
}
.under-contents .under-content .under-img {
  width: 255px;
  height: 160px;
  position: absolute;
  right: 0;
  top: 0;
}
.under-content .under-img img {
  width: 100%;
}
.magagines {
  margin: 70px calc(50vw - 580px) 0;
  width: 1160px;
}
.magagine-header,
.new-items-header {
  padding: 80px 0 24px;
  display: flex;
  justify-content: space-between;
}
.magagine-header h2,
.new-items-header h2 {
  font-size: 28px;
  font-weight: 800;
}
.view-more {
  color: #babcc2;
  font-size: 16px;
  line-height: 40px;
}
.magagines .magagine-list,
.items-talks {
  display: flex;
  justify-content: space-between;
}
.magagines .magagine-list .magagine,
.items-talks .item-talk  {
  position: relative;
  cursor: pointer;
  width: 380px;
  height: 228px;
}
.magagine-list .magagine .magagine-text,
.items-talks .item-talk .item-text {
  position: absolute;
  color: #fff;
  z-index: 1;
  bottom: 0;
  padding: 0 20px;
}
.magagine-list .magagine .magagine-text {
  min-height: 100px;
}
.items-talks .item-talk .item-text {
  min-height: 70px;
}
.magagine .magagine-text span,
.item-talk .item-text span {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: -1.25px;
  margin-bottom: 8px;
}
.magagine-list .magagine .magagine-img,
.item-talk .item-img {
  width: 380px;
  height: 228px;
  position: absolute;
  overflow: hidden;
  border-radius: 3px;
}
.magagine .magagine-img img,
.item-talk .item-img img {
  width: 100%;
  height: 100%;
}
.new-items-talk {
  margin: 70px calc(50vw - 580px) 0;
  width: 1160px;
}
.magagine-list .magagine:hover .magagine-img img,
.item-talk:hover .item-img img {
  transform: scale(1.10);
  transition: transform 0.25s;
}
.ad-links {
  margin: 80px calc(50vw - 580px) 120px;
  width: 1160px;
}
.ad-links .link-list {
  display: flex;
  justify-content: space-between;
}
.ad-links .link-list .ad-link {
  width: calc((100%-10px)/2);
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}
.ad-links .link-list .ad-link:first-child {
  margin-right: 10px;
}
.link-list .ad-link img {
  width: 100%;
}
footer {
  background: #f7f7fa;
}
.footer-item {
  width: 1160px;
  margin: 0 calc(50vw - 580px);
  padding: 38px 0;
}
footer .footer-item .footer-logo {
  background: url('../img/img-logo-gray.png') no-repeat;
  background-size: contain;
  width: 100px;
  height: 37px;
}
footer .footer-item .footer-under {
  display: flex;
  justify-content: space-between;
  color: #babcc2;
  letter-spacing: -0.6px;
  margin-top: 13px;
}
.footer-under .priv .priv-lists .priv-list {
  float: left;
}
.priv .priv-lists .priv-list a {
  color: #babcc2;
  font-size: 13px;
  padding: 0 12px;
  border-right: 1px solid #dadce0;
}
.priv .priv-lists .priv-list:first-child a {
  padding-left: 0;
}
.priv .priv-lists .priv-list:last-child a {
  padding-right: 0;
  border-right: 0;
}
@media screen and (min-width: 790px) {
  header > div > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    margin-right: 1rem;
    right: 20px;
  }
}

@media screen and (max-width: 860px) {
  .top-contents .top-content a {
    padding: 0 20px;
  }
  .under-content .underad-text .text-title,
  .under-content .underad-text .text-content {
    position: relative;
    left: -30px;
  }
}

@media screen and (max-width: 1000px) {
  .top-content .ad-text .text-content span {
    display: block;
  }
  .under-contents .under-content a {
    height: 145px;
  }
  .top-contents .top-content a {
    height: 145px;
    max-width: 800px;
  }
}

@media screen and (min-width: 790px) and (max-width: 1200px) {
  header {
    height: 9.5vw;
  } 
  .header-icon {
    width: 9.3vw;
    height: 3.5vw;
    left: 3.5vw;
  }
  .header-contents {
    left: 15.5vw;
  }
  .header-contents li {
    margin-right: 2vw;
    font-size: 1.2vw;
  }
  header > div > i {
    margin-right: 1.5vw;
    right: 5.5vw;
    font-size: 1.5vw;
  }
  .menu-box {
    right: 3.5vw;
    font-size: 1.5vw;
  }
  .ad-slider {
    height: 42vw;
  }
  .ad-slider > div {
    width: 100vw;
    margin: 0;
  }
  .ad-slider div ul {
    width: 500vw;
  }
  .ad-slider div ul li {
    width: 100vw;
  }
  .ad-slider ul li img {
    width: 100%;
  }
  .ad-contents {
    margin: 6vw auto 24px;
    width: 100%;
  }
  .ad-contents .under-contents .under-content {
    background-color: #f7f7fa;
    width: calc(50% - 5px);
    display: inline-block;
  }
  .text-title {
    font-size: 22px;
  }
  .top-content .ad-text .text-content {
    font-size: 14px;
    line-height: 17px;
  }
  .under-content .underad-text .text-content {
    font-size: 1vw;
  }
  .under-contents .under-content .under-img {
    width: 255px;
    height: 160px;
  }
  .magagines .magagine-header,
  .new-items-talk .new-items-header {
    position: relative;
  }
  .magagines,
  .new-items-talk {
    margin: 70px 0 0;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .magagine-header,
  .new-items-header {
    padding: 6.9vw 0 2vw;
  }
  .magagine-header h2,
  .new-items-header h2 {
    font-size: 22px;
  }
  .view-more {
    position: absolute;
    right: 20px;
    color: #babcc2;
    font-size: 1.4vw;
    line-height: 3vw;
  }
  .magagines .magagine-list .magagine,
  .items-talks .item-talk  {
    width: calc(33.333% - 7px);
    height: 20vw;
  }
  .magagine-list .magagine .magagine-text,
  .items-talks .item-talk .item-text {
    bottom: 0;
    padding: 0 20px;
  }
  .magagine-list .magagine .magagine-text {
    min-height: 90px;
  }
  .magagine .magagine-text span,
  .item-talk .item-text span {
    margin-bottom: 8px;
    font-size: 1.7vw;
  }
  .magagine-list .magagine .magagine-img,
  .item-talk .item-img {
    width: 100%;
    height: 100%;
  }
  .ad-links {
    margin: 80px 0 120px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .footer-item {
    width: 100%;
    margin: 0;
    padding: 38px 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 790px) {
  header {
    height: 15vw;
  } 
  header > div {
    text-align: center;
    position: relative;
  }
  .header-icon {
    width: 20vw;
    height: 7.7vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-contents {
    display: none;
  }
  header > div > i {
    position: absolute;
    font-size: 5vw;
    margin-right: 0;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-box {
    font-size: 5vw;
    right: 5vw;
  }
  .ad-contents {
    margin: 70px 0 0;
    width: 100%;
  }
  .under-content:last-child a {
    display:none;
  }
  .ad-contents .under-contents .under-content {
    background-color: #f7f7fa;
    width: 100%;
    display: block;
  }
  .ad-contents .top-contents .top-content {
    margin: 0 auto 9px;
  }
  .under-contents .under-content .underad-text {
    padding: 35px 20px;
  }
  .top-contents .top-content a {
    height: 145px;
  }
  .top-contents .top-content:nth-child(1) a {
    background-size: 199px auto;
  }
  .text-title {
    font-size: 22px;
  }
  .top-content .ad-text .text-content {
    padding-top: 18px;
    font-size: 14px;
  }
  .top-content .ad-text .text-content {
    line-height: 17px;
  }
  .under-content .underad-text .text-content {
    margin-top: 10px;
    font-size: 14px;
  }
  .under-contents .under-content a {
    height: 145px;
  }
  .under-contents .under-content .under-img {
    width: 210px;
    height: auto;
  }
  .under-content .underad-text .text-title,
  .under-content .underad-text .text-content {
    position: relative;
    left: 0px;
  }
  .magagines,
  .new-items-talk {
    margin: 0;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .magagine-header,
  .new-items-header {
    padding: 6.9vw 0 2vw;
  }
  .view-more {
    font-size: 12px;
  }
  .list-section {
    width: calc(100vw - 55px);
    overflow: hidden;
  }
  .magagines .magagine-list,
  .new-items-talk .items-talks {
    display: block;
    font-size: 0;
    white-space: nowrap;
    width: calc(1000vw - 550px);
    transform: translateX(0);
  }
  .magagines .magagine-list .magagine,
  .items-talks .item-talk  {
    display: inline-block;
    height: calc(50vw);
    width: calc(100vw - 55px);
    position: relative;
    cursor: pointer;
  }
  .magagine-list .magagine .magagine-text,
  .items-talks .item-talk .item-text {
    position: absolute;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: 0 20px;
  }
  .magagine-list .magagine .magagine-text {
    min-height: 100px;
  }
  .items-talks .item-talk .item-text {
    min-height: 70px;
  }
  .magagine .magagine-text span,
  .item-talk .item-text span {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: -1.25px;
    margin-bottom: 8px;
  }
  .magagine-list .magagine .magagine-img,
  .item-talk .item-img {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    border-radius: 3px;
  }
  .magagine .magagine-img img,
  .item-talk .item-img img {
    width: 100%;
    height: 100%;
  }
  .magagine-list .magagine:hover .magagine-img img,
  .item-talk:hover .item-img img {
    transform: scale(1.10);
    transition: transform 0.25s;
  }
  .ad-links {
    margin: 80px 0 120px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .link-list {
    flex-direction: column;
  }
  .ad-links .link-list .ad-link:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .ad-links .link-list .ad-link {
    width: 100%;
  }
  .footer-item {
    padding: 23px 20px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .footer-under {
    flex-direction: column-reverse;
    margin-top: 18px;
  }
  .priv {
    margin-bottom: 10px;
  }
}